body{background-color: rgb(63, 2, 60);}

.mifoto{width: 250px;
    height: 250px;
    border-radius: 50%;
widows: initial;}
.mifoto{width: 250px;
    height: 250px;
    border-radius: 50%;
widows: initial;}